[Unit]
Description=Push Kubernetes join token to workers

[Service]
ExecStart=/bin/bash /home/ubuntu/kubernetes-lab-setup/scripts/kube_setup/push_token_args_listener.sh

[Install]
WantedBy=multi-user.target
