[Unit]
Description=Static IP binding

[Service]
ExecStart=/bin/bash /home/ubuntu/kubernetes-lab-setup/scripts/server_setup/set_static_ip.sh

[Install]
WantedBy=multi-user.target
