[Unit]
Description=Static IP binding

[Service]
ExecStart=/bin/bash /home/kube/kubernetes-lab-setup-repo/scripts/server_setup/set_static_ip.sh

[Install]
WantedBy=multi-user.target
